.form_container {
  margin: 0 auto;
  margin-bottom: 80px;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
}

.form_container h1,
.form_container p {
  margin-top: 5px;
  margin-left: 10px;  
}

.form_container p a {
  color: var(--text-bg-color);
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-white-color);
  font-size: .95rem;
  text-decoration: none;
  margin-top: 15px;
  width: 100%;
  height: 35px;
  background-color: var(--text-bg-color);

  transition: all .2s ease-in-out;
}

.backButton:hover {
  background-color: #1b50ab;
}

.form_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form_container form .form_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.form_container form button[type="submit"],
.form_container form input[type="submit"] { 

  display: flex;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 35px;
  border: none;
  background-color: #25B456;
  color: #FFF;
  font-size: .95rem;
  cursor: pointer;
}

.form_container form button[type="submit"]:hover,
.form_container form input[type="submit"] { 
  background-color: #1f9649;
}

.form_container p {
  margin-top: 1em;
}

.form_container p a {
  color: var(--bg-color);
  font-weight: bold;
}

/* form de pets */
.preview_pet_images {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.preview_pet_images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-left: 1em;
}

.loader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@media (max-width: 460px) {

  .form_container {
    padding: 0 20px;
  }

  .form_container form .form_inputs,
  .form_container form input[type=submit] { 
    width: 100%;
  }

  .form_container h1,
  .form_container p {
    margin-top: 5px;
    margin-left: 0px;  
  }
}