.petslist_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.petslist_header h1 {
  margin: 0;
}

.petslist_header a {
  text-decoration: none;
  background-color: #2164d8;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  border: 2px solid #2164d8;
}

.petslist_header a:hover {
  background-color: transparent;
  color: #2164d8;
}

.petslist_container {
  display: flex;
  flex-direction: column;
}

.petlist_row {
  border-bottom: 1px solid #2164d8;
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  width: 100%;
}

.petlist_row img {
  margin-right: 1em;
}

.petlist_row span {
  min-width: 100px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: auto;
}

.actions a,
.actions button {
  text-decoration: none;
  color: var(--text-bg-color);
  border: 2px solid var(--text-bg-color);
  border-radius: 5px;
  padding: 7px 12px;
  background-color: #fff;
  margin-left: 1em;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}

.actions .delete {
  border: 2px solid #d82121;
  color: #d82121;
}

.actions a:hover,
.actions button:hover {
  background-color: var(--text-bg-color);
  color: #fff;
}

.actions .conclude_btn {
  color: #25b456;
  border-color: #25b456;
}

.actions .conclude_btn:hover {
  color: #fff;
  background-color: #25b456;
}

/* my adoptions */
.contacts {
  margin-left: 2em;
}

.contacts p {
  margin-bottom: 0.5em;
}