.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  background-color: var(--bg-color);
  color: var(--text-white-color);
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo img {
  width: 30px;
  margin: 0 .8em;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 8px;
}

.navbar li,
.navbar a {
  text-decoration: none;
  color: var(--text-white-color);
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
  padding: .5em .8em;
  border-radius: 5px;
}

.navbar li:hover {
  background-color: var(--text-white-color);
  color: var(--text-bg-color);
}

.navbar li:hover > a {
  color: var(--text-bg-color);
}

.menuHamburger {
  display: none;
  position: relative;
  background-color: #FFF;
  width: 30px;
  height: 2px;
}

@media (max-width: 660px) {
  .navbar {
    padding: 1.1em;
  }

  .navbar ul {
    position: absolute;
    overflow: auto;
    visibility: hidden;
    width: 0vw;
    height: 0vh;
    transition: height .3s ease-in-out;
  }
  
  .menuHamburger {
    display: block;
    right: 20px;
    z-index: 999;
  }

  .menuHamburger::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 2px;
    background-color: #FFF;
  }

  .menuHamburger::before {
    content: "";
    position: absolute;
    top: 20px;
    width: 100%;
    height: 2px;
    background-color: #FFF;
  }

  .navbar ul.active {
    visibility: visible;
    flex-direction: column;
    position: absolute;
    padding-top: 5rem;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60vh;
    background-color: var(--bg-color-opacity-95);
    z-index: 99;
  }

  .navbar ul.active li {
    margin: 1rem 0;
  }
}