:root {
  --text-color: #fff3f3;
  --bg-color: #2164d8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo img {
  width: 30px;
  margin: 0 .8em;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 8px;
}

.navbar li,
.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
  padding: .5em .8em;
  border-radius: 5px;
}

.navbar li:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.navbar li:hover > a {
  color: var(--bg-color);
}

@media (max-width: 600px) {
  .navbar ul {
    display: none;
  }
}