.loader_row {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}

.pet_home_header {
  margin-bottom: 2em;
}

.pet_home_header h1 {
  margin-bottom: 0.3em;
}

.pet_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.pet_card {
  width: 22%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pet_card_image {
  background-size: cover;
  background-position: center;
  height: 125px;
  width: 125px;
  border-radius: 10%;
  margin: 0 auto;
  margin-bottom: 1.2em;
}

.pet_card h3 {
  color: #16479d;
  font-size: 1.6em;
  padding: 8px;
}

.pet_card p {
  margin-bottom: 1em;
}

.pet_card a {
  border-radius: 8px;
  color: var(--text-white-color);
  background-color: var(--bg-color);
  border: none;
  min-width: 100px;
  padding: 15px;
  width: 125px;
  margin: 0 auto;
  cursor: pointer;
  font-size: .9em;
  font-weight: bold;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.pet_card a:hover {
  background-color: var(--bg-color-dark-1);
  color: #fff;
}

.adopted_text {
  font-weight: bold;
  color: #25b456;
  padding: 15px;
}

.loader {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #00aaff;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}