:root {
  --text-white-color: #fff3f3;
  --text-bg-color: #2164d8;
  --bg-color-dark-1: #0048c5;
  --bg-color: #2164d8;
  --bg-color-opacity-95: rgba(33, 100, 216, 0.95);
}

* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

h1 {
  color: var(--text-bg-color);
  margin-bottom: 1em;
  font-size: 2.1em;
}

input:not([type= "submit"]):focus {
  border-color: var(--text-bg-color);
  box-shadow: 0 0 3px var(--text-bg-color);
}

.bold {
  font-weight: bold;
  color: var(--text-bg-color);
}

button:disabled {
  background-color: #cecece !important;
}

button[type="submit"] {
  min-width: none !important;
  width: 100% !important;
}