:root {
  --text-color: #2164d8;
}

* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

h1 {
  color: #2164d8;
  margin-bottom: 1em;
  font-size: 2.1em;
}

input:not([type= "submit"]):focus {
  outline-color: #2164d8;
}

.bold {
  font-weight: bold;
  color: #2164d8;
}

